configuration {
  font: "JetBrainsMono Nerd Font 15";
  show-icons: false;
  timeout {
    action: "kb-cancel";
    delay: 0;
  }
}

@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

window {
  height: 18%;
  width: 12%;
  border-radius: 18px;
}

element {
  enabled: true;
  spacing: 10px;
  margin: 0px;
  padding: 10px 0px 10px 24px;
  border: 0px;
  border-radius: 18px;
}
element-text {
  vertical-align: 0.5;
  horizontal-align: 0.0;
}
listview {
  scrollbar: false;
}
